<link rel="stylesheet" href="/styles/about-style.css">
<script src="/js/test.js"></script>

<section id="about-project">
    <h1>About this project</h1>
    
    <p>CV Generator & Manager is a free tool designed to help users quickly generate CVs tailored to their preferences. <br> Originally developed as an academic project, it has been extended to serve additional functionalities for anyone needing a well-structured, easily exportable CV.</p>

    <p>The application allows users to:</p> 
    <ul>
        <li>Easily create and preview CVs.</li>
        <li>Export CVs in PDF format.</li>
        <li>Access the API for integration or automation.</li>
    </ul>
    
    <br>
    <p>For Developers:</p>    

    <p>Want to contribute? You’re welcome to enhance this platform by adding new CV templates, improving UI/UX, or extending backend functionalities. Collaboration is open—feel free to fork and build!</p>
</section>

<section id="about-developer">
    <h1>About the developer</h1>

    <p>I am intrigued not only by the technical side of developing apps, but also by the real-world context they operate in; whether it’s art, commerce, or user experience. <br> For example, building art-related platforms lets me engage both with the creative world and with the challenges of presenting and selling artistic work online.</p>
    <p>This project is maintained by an eager full stack developer. The goal is to turn academic experience into real-world tools that are simple, functional, and accessible.
    </p>
    <p>Learn more :
        <a href="https://www.linkedin.com/in/ayoubmarzouki/">Linkedin</a> -  
        <a href="https://github.com/Ayoub-Marzouki">Github</a>.
    </p>
    
    <p>Focus areas include :</p>
    <ul>
        <li>Clean code, MVC architecture (Node.js + Express + EJS).</li>
        <li>Modular and scalable layout using express-ejs-layouts.</li>
        <li>Emphasis on contribution and community learning.</li>
    </ul>
        
    <p>The project not only reflects technical capabilities but also serves as a showcase of commitment to continuous improvement and open-source development.</p>
</section>

<!-- Order is very important :
    We can either fill any blocks we defined in the END of the file, or specify the body content via contentFor('body').
-->
<%- contentFor("test") %>
<title>About</title>
