<link rel="stylesheet" href="/styles/contact-style.css">

<section id="contact">
    <h1>Contact the developer</h1>
    <p>Interested in a collaboration? Have a project idea that you need help with? I'm all yours!</p>
    <p>You could <a href="mailto:ayoubma321@gmail.com">mail</a> me directly in my gmail, or learn more about me in the following :
        <a href="https://www.linkedin.com/in/ayoubmarzouki/">Linkedin</a> -  
        <a href="https://github.com/Ayoub-Marzouki">Github</a>.
    </p>
</section>

<%- contentFor("test") %>
<title>Contact</title>
