<link rel="stylesheet" href="/styles/cv-templates-style.css">

<section id="cv-templates">
    <h1>Explore our CV templates</h1>
    <br><br>
    <section>
        <h2>1 page CVs :</h2>
        <div class="flex">
            <div>
                <h3>Creative</h3>
                <img src="images/cv-examples/creative.png" alt="">
            </div>
            <div>
                <h3>Minimalist</h3>
                <img src="images/cv-examples/minimalist.png" alt="">
            </div>
        </div>
    </section>

    <section>
        <h2>2 pages CVs :</h2>
        <div class="flex-2">
            <div>
                <div>
                    <h3>Retro</h3>
                    <div>
                        <img src="images/cv-examples/retro-1.png" alt="">
                        <img src="images/cv-examples/retro-2.png" alt="">
                    </div>
                </div>
                <div>
                    <h3>Modern</h3>
                    <div>
                        <img src="images/cv-examples/modern-1.png" alt="">
                        <img src="images/cv-examples/modern-2.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Professional</h3>
                    <div>
                        <img src="images/cv-examples/professional-1.png" alt="">
                        <img src="images/cv-examples/professional-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
</section>

<%- contentFor("test") %>
<title>CV-Templates</title>
