<link rel="stylesheet" href="/styles/cv-templates-style.css">

<section id="cv-templates">
    <h1>Explore our CV templates and choose what you please</h1>
    <br><br>
    <p>All you have to do is click on a layout you like, and it'll be tailored for you!</p>
    <section>
        <h2>1 page CVs :</h2>
        <div class="flex">
            <div>
                <h3><a href="create-cv?template=creative&lang=en">Creative (ENG)</a> | <a href="create-cv?template=creative&lang=fr">Creative (FR)</a></h3>
                <a href="create-cv?template=creative&lang=en">
                    <img src="images/cv-examples/creative.png" alt="">
                </a>
            </div>
            <div>
                <h3><a href="create-cv?template=minimalist&lang=en">Minimalist (ENG)</a> | <a href="create-cv?template=minimalist&lang=fr">Minimalist (FR)</a></h3>
                <a href="create-cv?template=minimalist&lang=en">
                    <img src="images/cv-examples/minimalist.png" alt="">
                </a>
            </div>
        </div>
    </section>

    <section>
        <h2>2 pages CVs :</h2>
        <div class="flex-2">
            <div>
                <div>
                    <h3><a href="create-cv?template=retro&lang=en">Retro (ENG)</a> | <a href="create-cv?template=retro&lang=fr">Retro (FR)</a></h3>
                    <a href="create-cv?template=retro&lang=en">
                        <div>
                            <img src="images/cv-examples/retro-1.png" alt="">
                            <img src="images/cv-examples/retro-2.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3><a href="create-cv?template=modern&lang=en">Modern (ENG)</a> | <a href="create-cv?template=modern&lang=fr">Modern (FR)</a></h3>
                    <a href="create-cv?template=modern&lang=en">
                        <div>
                            <img src="images/cv-examples/modern-1.png" alt="">
                            <img src="images/cv-examples/modern-2.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <h3><a href="create-cv?template=professional&lang=en">Professional (ENG)</a> | <a href="create-cv?template=professional&lang=fr">Professional (FR)</a></h3>
                    <a href="create-cv?template=professional&lang=en">
                        <div>
                            <img src="images/cv-examples/professional-1.png" alt="">
                            <img src="images/cv-examples/professional-2.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <br>
</section>

<%- contentFor("test") %>
<title>CV-Templates</title>
