<link rel="stylesheet" href="/styles/cv-templates-style.css">

<section id="cv-templates">
    <h1>Explore our CV templates and choose what you please</h1>
    <br><br>
    <p>All you have to do is click on a layout you like, and it'll be tailored for you!</p>
    <section>
        <h2>1 page CVs :</h2>
        <div class="flex">
            <a href="create-cv?template=creative">
                <div>
                    <h3>Creative</h3>
                    <img src="images/cv-examples/creative.png" alt="">
                </div>
            </a>
            <a href="create-cv?template=minimalist">
                <div>
                    <h3>Minimalist</h3>
                    <img src="images/cv-examples/minimalist.png" alt="">
                </div>
            </a>
        </div>
    </section>

    <section>
        <h2>2 pages CVs :</h2>
        <div class="flex-2">
            <div>
                <a href="create-cv?template=retro">
                    <h3>Retro</h3>
                    <div>
                        <img src="images/cv-examples/retro-1.png" alt="">
                        <img src="images/cv-examples/retro-2.png" alt="">
                    </div>
                </a>
                <a href="create-cv?template=modern">
                    <h3>Modern</h3>
                    <div>
                        <img src="images/cv-examples/modern-1.png" alt="">
                        <img src="images/cv-examples/modern-2.png" alt="">
                    </div>
                </a>
            </div>
            <div>
                <a href="create-cv?template=professional">
                    <h3>Professional</h3>
                    <div>
                        <img src="images/cv-examples/professional-1.png" alt="">
                        <img src="images/cv-examples/professional-2.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </section>
    <br>
</section>

<%- contentFor("test") %>
<title>CV-Templates</title>
