<link rel="stylesheet" href="/styles/faqs-style.css">


<section class="section" id="how-to-print">
    <h1>How to properly print his CV</h1>
    <br>
    <p>There is no perfect solution but to let user fully customize how his CV will be printed. <br>Below are some advice I could offer after trying multiple solutions to print a CV:</p>
    <ul>
        <li>It is best to use the browser's printing tool.</li>
        <li>The following options are generally what most work with :
            <ul>
                <li><b>Destination</b>: Save to PDF</li>
                <li><b>Orientation</b>: Portrait</li>
                <li><b>Pages</b>: All</li>
                <li><b>Paper size</b>: A4</li>
                <li><b>Scale</b>: Customize to your liking. This is the most important parameter here.</li>
                <li><b>Pages per sheet</b>: 1</li>
                <li><b>Margins</b>: None</li>
                <li><b>Format</b>: Original</li>
                <li><b>Print Backgrounds</b>: Checked</li>

            </ul>
        </li>
    </ul>

    <img src="/images/how-to-print.png" alt="">
    <img src="/images/how-to-print-2.png" alt="">

    <br><br>
    <p>Note : Before ultimately deciding to use the browser's printing tool, the  main considered options of printing included the following :</p>
    <ul>
        <li><b>Puppeteer</b>: JavaScript Library - Server-Side handling</li>
        <li><b>html2pdf</b>: JavaScript script - Client-Side handling</li>
        <li><b>html2canvas</b>: JavaScript script = Client-Side Handling</li>
    </ul>
</section>