
<title>CV Generator - Home</title>

<section id="create-cv">
    <br><br><br>
    <h1>Create your ultimate CV for FREE!</h1>
    <br><br>
    <h1> Simple, fast, and ready to download!</h1>
    <br>
    <p>Creative? Professional? Minimalist? Something else? Start now!</p>
    <br><br>
    <a id="create" href="">Create my CV</a>
    <br><br>
    <div class="flex">
        <div class="info-box">
            <h2>Create your CV</h2>
            <p>Customize your shit w dakchi</p>
        </div>
        <div class="info-box">
            <h2>Start customizing</h2>
            <p>Customize your shit w dakchi</p>
        </div>
        <div class="info-box">
            <h2>Download!</h2>
            <p>Customize your shit w dakchi</p>
        </div>
    </div>
</section>

<section id="check-cv">
    <h1>Check resulting CVs of other people</h1>
    <br><br>
    <section>
        <h2>1 page CVs :</h2>
        <div class="flex">
            <div>
                <h3>Creative</h3>
                <img src="images/cv-examples/creative.png" alt="">
            </div>
            <div>
                <h3>Minimalist</h3>
                <img src="images/cv-examples/minimalist.png" alt="">
            </div>
        </div>
    </section>

    <section>
        <h2>2 pages CVs :</h2>
        <div class="flex-2">
            <div>
                <div>
                    <h3>Retro</h3>
                    <div>
                        <img src="images/cv-examples/retro-1.png" alt="">
                        <img src="images/cv-examples/retro-2.png" alt="">
                    </div>
                </div>
                <div>
                    <h3>Modern</h3>
                    <div>
                        <img src="images/cv-examples/modern-1.png" alt="">
                        <img src="images/cv-examples/modern-2.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Professional</h3>
                    <div>
                        <img src="images/cv-examples/professional-1.png" alt="">
                        <img src="images/cv-examples/professional-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
</section>