<header id="navbar-container">
    <nav id="navbar">
        <a href="/"><img class="logo" src="images/cv-generator-logo.png" alt="CV-Generator">
        </a>
        <a href="">Create CV</a>
        <a href="cv-templates">CV Templates</a>
        <a href="">Peoples' CVs</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </nav>
</header>