#contact {
    width:85%;
    margin:2% auto;
    padding:3%;
    box-shadow:0 8px 24px rgba(0,0,0,0.1);
    border-radius:10px;
    line-height:200%;
    text-align:center;
}

#contact h1 {
    padding-bottom:1%;
}
