#cv-templates {
    width:85%;
    margin:2% auto;
    padding:1%;
    box-shadow:0 8px 24px rgba(0,0,0,0.1);
    border-radius:10px;
    line-height:200%;
}

h3 {
    text-align:center;
}
img {
    max-width:300px;
}

p {
    text-align:center;
}

section a:hover h3 {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

h3 {
    transition: transform 0.3s ease;
}
