.section {
    width:85%;
    margin:auto;
    margin-top:1%;
    padding:1%;
    box-shadow:0 8px 24px rgba(0,0,0,0.1);
    border-radius:10px;
    line-height:200%;

}

#how-to-print img:first-of-type {
    width:100%;
}
#how-to-print img:nth-of-type(2) {
    display:block;
    margin:auto;
    max-width:50%;
}

ul li {
    list-style-position: inside;
    text-indent: 2%;
}

ul li ul li {
    text-indent:4%;
}
